[defaults]
inventory = inventory.ini
host_key_checking = False
retry_files_enabled = False
# Use /tmp for remote temp files so Ansible never tries a system user's home dir
# (e.g. /home/consul/.ansible/tmp), which causes spurious permission warnings.
remote_tmp = /tmp/.ansible/tmp
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
roles_path = ~/.ansible/roles:./roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
private_key_file = ssh_key.pem
inject_facts_as_vars = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

